# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android related
**/android/app/profile
**/android/app/release
**/android/app/debug
.gradle/
**/android/.gradle/
**/android/captures/
**/android/gradle/wrapper/gradle-wrapper.jar
**/android/app/build/

# Xcode related
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/DerivedData/
**/ios/Runner.xcworkspace/

# Environment
.env
*.env
